CVS/

# Ignore downloaded directories

antlr-2.7.7/
antlr

szip-2.1.1/
szlib

cdo-*/
cdo

hdfeos/
hdfeos5/
TOOLKIT/

SDPToolkit

# Ignore the files created by our make system
# -------------------------------------------
*.config
*.install
*.check
*.download

# Ignore log files
# ----------------
*.log
