[submodule "zlib"]
	path = zlib
	url = git@github.com:madler/zlib.git
[submodule "gsl"]
	path = gsl
	url = https://git.savannah.gnu.org/git/gsl.git
[submodule "antlr"]
	path = antlr
	url = git@github.com:nco/antlr2.git
[submodule "jpeg"]
	path = jpeg
	url = git@github.com:libjpeg-turbo/ijg.git
[submodule "curl"]
	path = curl
	url = git@github.com:curl/curl.git
