CVS/

# Ignore downloaded directories

antlr-2.7.7/
antlr

szip-2.1.1/
szlib

cdo-*/
cdo

hdfeos/

hdf-eos5-*/
hdfeos5

TOOLKIT/
SDPToolkit

gsl-*/
gsl

# Ignore the files created by our make system
# -------------------------------------------
*.config
*.install
*.check
*.download

# Ignore log files
# ----------------
*.log
